<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Promotions</title>
  </head>
  <body>
    <h1>Promotions</h1>
    <table border="1">
      <thead>
        <tr>
          <th>Ref</th>
          <th>Year</th>
          <th>Graduates</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="promotion : ${promotions}">
          <td th:text="${promotion.ref}">P-2024</td>
          <td th:text="${promotion.year}">2024</td>
          <td>
            <a
              th:href="@{/promotions/{id}/graduates.xlsx(id=${promotion.id})}"
              th:text="'Download ' + ${promotion.ref} + ' graduates'"
            >
              Download graduates
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
